@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --primary-color: #003d8f;
    --secondary-color: #0b9dcc;  
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  width: max-content;
  min-width: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  background: var(--primary-color);
  margin: 0;
}

header .logo {
  width: 100px;
  padding: 10px 50px;
}

.container {
  display: flex;
}

aside {
  width: 400px;
  min-width: 400px;
}

aside li {
  list-style: none;
}

aside .box {
  border: 1px solid var(--primary-color);
  margin: 10px;
  border-radius: 4px;
}

aside .box .body {
  padding: 5px;
}

aside .box .body > ul {
  padding-left: 0px;
  margin-top: 5px;
}

aside .box h2 {
  background: var(--primary-color);
  color: white;
  margin: 0;
  padding: 5px 10px;
  font-size: 16px;
}

main {
  padding: 20px;
}

.viewport {
  display: flex;
  flex-direction: row;
  transform-origin: top left;
}

.elements {
  display: flex;
  flex-direction: column;
  border-right: 1px dotted lightgray;
}

.elements:last-of-type {
  border-right: none;
}

.elements .title p {
  text-align: center;
}

.elements img {
  margin-bottom: 10px;
  width: 600px;
}

.zoom-result {
  margin: 0px 5px;
  font-weight: 500;
}

.setting {
  padding: 5px;
  border: 1px solid var(--primary-color);
  margin: 10px;
  border-radius: 4px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: white;
}

label {
  font-size: 15px;
}

.btn {
  background: var(--primary-color);
  border: none;
  color: white;
  border-radius: 2px;
  min-width: 20px;
  font-size: 14px;
}

.btn-details {
  color: var(--primary-color);
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.box-details {
  height: 350px;
  overflow-x: hidden;
  overflow-y: scroll;
  word-break: break-word;
  padding: 5px;
  display: none;
}

.header-title {
  position: relative;
  top: -15px;
  color: white;
  font-weight: bold;
  left: 37vw;
}

@media print {
  aside {
    display: none !important;
  }

  header {
    display: none;
  }

  .setting {
    display: none;
  }
}


/* Dialog/Modal Style */

.modal-shade {
	width:100vw;
	height:100vh;
	background: rgba(0,0,0,.5);
	position: fixed;
	display:none;
	z-index: 9;
}

.modal-window {
	min-height: 100px;
	max-height: 80vh;
	overflow-y: auto;
	min-width: 200px;
	max-width: 80vw;
	background: #fff;
	word-wrap: break-word;
	padding: 30px;
	border-radius: 2px;
	display:none;
	position: fixed;
	top: 50vh;
	left: 50%;
	transform: translate(-50%,-50%); 
	box-shadow: 0px 0px 2px #111;
	z-index: 10;
}

.close-modal {
  position: absolute;
  top: 0px;
  right: 10px;
  color: #555;
  font-weight: 700;
  cursor: pointer;
  font-size: 26px;
}

.close-modal:hover {
	color: #111;
}